body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
    scroll-behavior: smooth;

  }
    
  .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5 {
    position: relative;
    opacity: 0.85;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  }

  .bgimg-1 {
    background-image: url("../img/413051.jpg");
    min-height: 1000px;
  }
  
  .bgimg-2 {
    background-image: url("../img/bird-s-eye-view-of-city-2246476.jpg");
    min-height: 1000px;
  }
  
  .bgimg-3 {
    background-image: url("../img/woman-in-blue-suit-jacket-2422293.jpg");
    min-height: 1000px;
  }
  .bgimg-4 {
    background-image: url("../img/camera-photography-technology-reflection-122400.jpg");
    min-height: 700px;
  }
  
  .bgimg-5 {
    background-image: url("../img/441657.jpg");
    background-color: #000;
    min-height: 600px;
  }

  .bgimg-6 {
    background-image: url("../img/ob_1d3032_inception-movie-image-38.jpg");
    min-height: 600px;
  }

  .bgimg-7 {
    background-image: url("file:///E:/T-Karim-cf2m/Projet%20Expo/Brussels-International-2.jpg");
    min-height: 600px;
  }

  .titreexpo {
    text-align:center;
    font-weight:bold;
    text-decoration: underline;
    }

  .imageExpo {
    text-align: center;
    width:200px;
    height:auto;  
    border: 10px solid white; 
     }

  
     .imageExpo2 {
      text-align: center;
      width:400px;
      height:300px;  
      border: 5px solid white; 
       }
    
     
  #profiltext{
    display: flex;
    position: top;
  flex-direction: column;
  }

 
 .imageprofil {
  float: right;
  border-radius: 50px;
  width: 200px;
  height: 400px;
  
  
 }


 .imageinteview{
  border-radius: 100px;
  width: 200px;
  height: 200px;
  
 }
  .imageGallery {
  text-align: center;
  width:600px;
  height:400px;   

  }
  .imageGallery:hover{
width: 600px;

  } 

  .caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
  }

  
  .captioncbaw a {
    color: white;
    text-decoration: none;    
  }


  .captioncbaw a:visited {
    color: white;
    text-decoration: none;    
  }
  
  
  .caption span.border a {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
    text-decoration: none;
  }
  
  h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
  }
  
  /* Désactiver le défilement de parallaxe pour les tablettes et les téléphones */
  @media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5,{
      background-attachment: scroll;
    }
  }

  